<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Taskmaster App</a>
    by Chris Tolin
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",    about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://christolin.com/">News</a></li>
    </ul>
  </nav>
</footer>